<%= form_for(segmentation_clause, method: form_method) do |f| %>

  <% if segmentation_clause.errors.any? %>
    <div class="alert alert-danger">
      <p class="lead">Correct the folowing <%= pluralize(segmentation_clause.errors.count, "error") %>:</p>

      <ul>
      <% segmentation_clause.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-sm-3">
    <%= f.label :compare_field %>
    <%= f.text_field :compare_field, class: "form-control" %>
  </div>
  <div class="col-sm-3">
    <%= f.label :segmentation_filter_id, "Operador" %>
    <%= f.select :segmentation_filter_id, options_for_select(filters), {}, {class: "form-control"} %>
  </div>
  <div class="col-sm-3">
    <%= f.label :compare_value %>
    <%= f.text_field :compare_value, class: "form-control" %>
  </div>
  </div>

  <div class="actions">
    <%= link_to '<- Back to segmentation', edit_segmentation_path(segmentation_clause.segmentation), {class: "btn btn btn-info", role: "button"} %>
    <%= yield %>
  </div>
<% end %>
