<p id="notice"><%= notice %></p>

<h1>Segmentation Clauses</h1>

<table>
  <thead>
    <tr>
      <th>Segmentation</th>
      <th>Comparison opration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segmentation_clauses.each do |segmentation_clause| %>
      <tr>
        <td><%= segmentation_clause.segmentation.name %> </td>
        <td><%= "#{segmentation_clause.compare_field} #{segmentation_clause.segmentation_filter.name} #{segmentation_clause.compare_value}"%></td>
        <td><%= link_to 'Show', segmentation_clause %></td>
        <td><%= link_to 'Edit', edit_segmentation_clause_path(segmentation_clause) %></td>
        <td><%= link_to 'Destroy', segmentation_clause, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Segmentation Clause', new_segmentation_clause_path %>
