<p id="notice"><%= notice %></p>


<p>
  <strong>Segmentation:</strong>
  <%= @segmentation_clause.segmentation.name %>
</p>

<p>
  <strong>Segmentation filter:</strong>
  <%= @segmentation_clause.segmentation_filter.name %>
</p>

<p>
  <strong>Compare Field:</strong>
  <%= @segmentation_clause.compare_field %>
</p>

<p>
  <strong>Compare value:</strong>
  <%= @segmentation_clause.compare_value %>
</p>

<%= link_to 'Edit', edit_segmentation_clause_path(@segmentation_clause) %> |
<%= link_to 'Back', segmentation_clauses_path %>
