<p id="notice"><%= notice %></p>

<h1>Contacts filtered by '<%= @segmentation.name %>'</h1>

<p>
    This filter is using the folowing conditions
    <ul>
        <% for clause in @segmentation.segmentation_clauses %>
            <li> <%= clause.unsecure_where %></li>
        <% end %>
    </ul>
<p>

<div class="actions">
    <%= link_to 'Edit Filter', edit_segmentation_path(@segmentation), {class: "btn btn btn-info", role: "button"}  %>
    <%= link_to 'Reload', segmentation_workspace_run_path(@segmentation), {class: "btn btn btn-info", role: "button"}  %>
<div>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        <th>State</th>
        <th>Occupation</th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.age %></td>
          <td><%= contact.state.initials %></td>
          <td><%= contact.occupation %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>