<%= form_for(contact) do |f| %>
  <% if contact.errors.any? %>
    <div class="alert alert-danger">
      <p class="lead">Correct the folowing <%= pluralize(contact.errors.count, "error") %>:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :age %>
    <%= f.number_field :age, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :state %>
    <%= f.collection_select(:state_id, State.all, :id, :name, {}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= f.label :occupation %>
    <%= f.text_field :occupation, class: "form-control" %>
  </div>

  <div class="actions">
    <%= link_to '<- Back to list', contacts_path, {class: "btn btn btn-info", role: "button"}  %>
    <%= submit_tag 'Save and create another', name: 'save_and_add', class: "btn btn-success" %>
  </div>
<% end %>
