<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @contact.age %>
</p>

<p>
  <strong>State:</strong>
  <%= @contact.state.initials %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @contact.occupation %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
